.someClassCss{
  width: 550px;
  height: 100px;

  background-color: #000;
  color: #fff;
}

.someClassCss{
  font-size: 30px;
}

.innerStyle{
  color: #f00;
}
.anotherClass {
  border: 10px solid #000000;
}
