<!--<app-child [doSmth]="smthData">-->
<!--  <app-child-second>Show</app-child-second>-->
<!--  <p #some>Show</p>-->
<!--</app-child>-->
<!--&lt;!&ndash; В общем-то чтобы использовать NgAfterContentView, тебе нужен декорато ContentChild, у которого будет хранится то что ты передал внутрь компонента,&ndash;&gt;-->
<!--&lt;!&ndash;Сам ребеёнок отрисует то что ты передал через ng-content, аля проекция контента. И именно в ребеёнке нужно использовать декоратор ContentChild, не в родителе&ndash;&gt;-->
<!--&lt;!&ndash;И получить доступ к элементу ты можешь двумя способами, первый способ, это передать туда другой селектор компонента, и по сути в декоратор передать&ndash;&gt;-->
<!--&lt;!&ndash;класс этого селектора(компонент сам), или использовать шаблонные переменные, выше у тебя  &ndash;&gt;-->

<!--<input [(ngModel)]="smthData" />-->
<!--<input [(ngModel)]="anotherData" />-->
