<form [formGroup]="reactiveForms" (ngSubmit)="logOn()">
  <!-- <input type="text" formControlName="title" /> -->

  <!-- <app-custom-input ([valueInput])="reactiveForms.get('age').setValue(#event)"></app-custom-input> -->
  <!-- <app-custom-input [valueInput]="'defaultValue1111'" (valueInputChange)="reactiveForms.get('age')?.setValue($event)"></app-custom-input> -->

  <!-- <app-custom-input [formControl]="reactiveForms.get('sex')"></app-custom-input> -->
  
  <!-- <app-my-input-with-value-accessor  [formControlName]="'title'"></app-my-input-with-value-accessor>
  <app-my-input-with-value-accessor  [formControlName]="'age'"></app-my-input-with-value-accessor>
  <app-my-input-with-value-accessor  [formControlName]="'sex'"></app-my-input-with-value-accessor>

  <app-my-input-with-value-accessor-second  [formControlName]="'title'"></app-my-input-with-value-accessor-second>
  <app-my-input-with-value-accessor-second  [formControlName]="'age'"></app-my-input-with-value-accessor-second>
  <app-my-input-with-value-accessor-second  [formControlName]="'sex'"></app-my-input-with-value-accessor-second> -->

  <app-my-input-with-value-accessor-third  ngDefaultControl [formControlName]="'title'"></app-my-input-with-value-accessor-third>
  <app-my-input-with-value-accessor-third  ngDefaultControl [formControlName]="'age'"></app-my-input-with-value-accessor-third>
  <app-my-input-with-value-accessor-third  ngDefaultControl [formControlName]="'sex'"></app-my-input-with-value-accessor-third>

  <button>WhatTheFuck</button>
</form>

<!--Из-за того что я закинул забмит, сработала моя функция при нажатии на button-->

<!-- У кнопки есть 4 типа, submit, reset, button menu. По дефолту идёт сабмит. Идёт отпрвка на сервер каки-то
  данных. reset - Ощистка всех полей. button не имеет поведения по дефолтку, menu открывает всплывающее меню.
-->
<!--
  Отдельно от формгруп могу создать также formControl
-->

<!-- <input [formControl]="newControl" />

<app-custom-input [(valueInput)]="test"></app-custom-input>
<button (click)="logOn()"></button> -->
