<!-- <app-decorators-input-output></app-decorators-input-output> -->
<!-- <app-ng-content></app-ng-content> -->
<!-- <app-ng-model></app-ng-model> -->
<app-pipe-examples></app-pipe-examples>
<!-- <app-template-variables></app-template-variables> -->
<!--<app-view-child-content-child></app-view-child-content-child> тут много консоль логов-->
<!-- <app-lifecycle-hooks></app-lifecycle-hooks> -->
<!-- <app-directives></app-directives> -->
<!-- <app-ng-value-accessor></app-ng-value-accessor> -->
<!-- <app-change-detection></app-change-detection> -->
<!-- <app-another-moments-ng-zone></app-another-moments-ng-zone> -->
<!-- <app-ngx-sub-form-learn></app-ngx-sub-form-learn> -->
<!-- <app-reactive-forms-test></app-reactive-forms-test> -->
<!-- <app-test-track-by></app-test-track-by> -->
<!-- <app-signals></app-signals> -->
